strong {
  font-weight: 900; }

.tx-md-contentelements {
  padding: 8px 0; }
  .tx-md-contentelements ul {
    margin-left: 22px; }
  @media (min-width: 768px) {
    .tx-md-contentelements ul {
      line-height: 2rem; } }
  .tx-md-contentelements ul.slick-dots {
    margin-left: 0; }
  .tx-md-contentelements ol {
    margin-left: 19px; }
  @media (min-width: 768px) {
    .tx-md-contentelements ol {
      line-height: 2rem; } }
@media (min-width: 768px) {
  .tx-md-contentelements {
    padding: 12px 0; } }
.tx-md-contentelements.slider {
  padding: 0; }
  .tx-md-contentelements.slider .slick-slider img {
    width: 100%;
    height: auto; }
  .tx-md-contentelements.slider .slick-slider .slick-prev, .tx-md-contentelements.slider .slick-slider .slick-next {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; }
    .tx-md-contentelements.slider .slick-slider .slick-prev:before, .tx-md-contentelements.slider .slick-slider .slick-next:before {
      display: none; }
  .tx-md-contentelements.slider .slick-slider .slick-prev {
    background-image: url(/typo3conf/ext/basis/Resources/Public/images/prev.png);
    left: 0; }
  .tx-md-contentelements.slider .slick-slider .slick-next {
    background-image: url(/typo3conf/ext/basis/Resources/Public/images/next.png);
    right: 0; }
  .tx-md-contentelements.slider .slick-slider .slick-dots {
    bottom: 8px; }
    .tx-md-contentelements.slider .slick-slider .slick-dots li {
      height: 12px;
      width: 12px;
      border: 2px solid #000000;
      border-radius: 50%; }
      .tx-md-contentelements.slider .slick-slider .slick-dots li.slick-active {
        background-color: #000000; }
      .tx-md-contentelements.slider .slick-slider .slick-dots li button {
        display: none; }
  .tx-md-contentelements.slider .slick-slider .slick-slide {
    margin: 0; }
.tx-md-contentelements .button {
  display: table;
  min-width: 212px;
  max-width: 100%;
  height: 32px;
  background-color: #0ea5df;
  margin-left: auto;
  padding: 4px 16px;
  padding-top: 6px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; }
  .tx-md-contentelements .button:hover {
    background-color: #006eb4; }
  @media (min-width: 768px) {
    .tx-md-contentelements .button {
      height: 39px;
      min-width: calc(33.33% - 8px);
      font-size: 20px;
      padding: 8px 16px;
      padding-top: 7px; } }
@media (min-width: 992px) {
  .tx-md-contentelements .button {
    height: 48px;
    padding: 8px 16px;
    padding-top: 11px;
    font-size: 31px; } }
.tx-md-contentelements .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -4px; }
@media (min-width: 768px) {
  .tx-md-contentelements .images {
    margin: -8px; } }
.tx-md-contentelements .images figure {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 4px; }
@media (min-width: 768px) {
  .tx-md-contentelements .images figure {
    padding: 8px; } }
.tx-md-contentelements .images figure figcaption {
  margin-bottom: 16px;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic; }
@media (min-width: 1200px) {
  .tx-md-contentelements .images figure figcaption {
    font-size: 18px; } }
.tx-md-contentelements .images figure .image {
  position: relative; }
  .tx-md-contentelements .images figure .image:before {
    content: "";
    display: block;
    padding-top: 100%;
    padding-top: calc(100% * 9/16); }
  .tx-md-contentelements .images figure .image img, .tx-md-contentelements .images figure .image video, .tx-md-contentelements .images figure .image iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .tx-md-contentelements .images figure .image img, .tx-md-contentelements .images figure .image video {
    object-fit: cover; }
  .tx-md-contentelements .images figure .image iframe {
    border: none; }
.tx-md-contentelements .images.col-25 figure {
  width: 50%; }
@media (min-width: 768px) {
  .tx-md-contentelements .images.col-25 figure {
    padding: 8px;
    width: 25%; } }
.tx-md-contentelements .images.col-25 figure .image:before {
  content: "";
  display: block;
  padding-top: 100%; }
.tx-md-contentelements .images.col-33 figure {
  width: 50%; }
  .tx-md-contentelements .images.col-33 figure .image:before {
    content: "";
    display: block;
    padding-top: 100%; }
.tx-md-contentelements .images.col-50 figure {
  width: 100%; }
@media (min-width: 768px) {
  .tx-md-contentelements .images.col-50 figure {
    width: 50%; } }
.tx-md-contentelements .video-container figure {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 4px; }
@media (min-width: 768px) {
  .tx-md-contentelements .video-container figure {
    padding: 8px; } }
.tx-md-contentelements .video-container figure .video {
  position: relative; }
  .tx-md-contentelements .video-container figure .video:before {
    content: "";
    display: block;
    padding-top: 100%;
    padding-top: calc(100% * 9/16); }
  .tx-md-contentelements .video-container figure .video img, .tx-md-contentelements .video-container figure .video video, .tx-md-contentelements .video-container figure .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .tx-md-contentelements .video-container figure .video img, .tx-md-contentelements .video-container figure .video video {
    object-fit: cover; }
  .tx-md-contentelements .video-container figure .video iframe {
    border: none; }
.tx-md-contentelements .video-container figure figcaption {
  margin-bottom: 16px;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic; }
@media (min-width: 1200px) {
  .tx-md-contentelements .video-container figure figcaption {
    font-size: 18px; } }
.tx-md-contentelements .textpic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -4px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0; }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic {
    margin: -8px;
    margin-top: 0;
    margin-bottom: 0; } }
.tx-md-contentelements .textpic_image {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic_image {
    padding: 0 8px;
    margin-bottom: 0; } }
.tx-md-contentelements .textpic_image .image {
  position: relative; }
  .tx-md-contentelements .textpic_image .image:before {
    content: "";
    display: block;
    padding-top: 100%;
    padding-top: calc(100% * 9/16); }
  .tx-md-contentelements .textpic_image .image img, .tx-md-contentelements .textpic_image .image video, .tx-md-contentelements .textpic_image .image iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .tx-md-contentelements .textpic_image .image img, .tx-md-contentelements .textpic_image .image video {
    object-fit: cover; }
  .tx-md-contentelements .textpic_image .image iframe {
    border: none; }
.tx-md-contentelements .textpic_image figcaption {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic; }
@media (min-width: 1200px) {
  .tx-md-contentelements .textpic_image figcaption {
    font-size: 18px; } }
.tx-md-contentelements .textpic_image.portrait-format .image::before {
  padding-top: calc(100% * 16/9); }
.tx-md-contentelements .textpic_text p:first-child {
  margin-top: 0; }
.tx-md-contentelements .textpic_text p:last-child {
  margin-bottom: 0; }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic_text {
    padding: 0 8px;
    padding-left: 112px; } }
.tx-md-contentelements .textpic.row-reverse {
  flex-direction: row-reverse; }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic.row-reverse .textpic_text {
    padding: 0 8px;
    padding-right: 112px; } }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic.row-reverse .button {
    margin-left: 0; } }
.tx-md-contentelements .textpic_image, .tx-md-contentelements .textpic_text {
  width: 100%; }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic_image, .tx-md-contentelements .textpic_text {
    width: 50%; }
    .tx-md-contentelements .textpic_image .button, .tx-md-contentelements .textpic_text .button {
      min-width: calc(( ( (100% + 112px) / 3 ) * 2 ) - 8px - 2px); } }
.tx-md-contentelements .textpic.col-33-66 .textpic_image {
  width: 100%; }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic.col-33-66 .textpic_image {
    width: 33.33%; } }
.tx-md-contentelements .textpic.col-33-66 .textpic_image .image:before {
  content: "";
  display: block;
  padding-top: 100%; }
  .tx-md-contentelements .textpic.col-33-66 .textpic_image.portrait-format .image::before {
    padding-top: calc(100% * 16/9); }
.tx-md-contentelements .textpic.col-33-66 .textpic_text {
  width: 100%; }
@media (min-width: 768px) {
  .tx-md-contentelements .textpic.col-33-66 .textpic_text {
    width: 66.66%; }
    .tx-md-contentelements .textpic.col-33-66 .textpic_text .button {
      min-width: calc(( (100% + 112px) / 2 ) - 8px - 3px); } }
.tx-md-contentelements .audiopodcast {
  background-color: #ffffff;
  margin-left: -16px;
  margin-right: -16px;
  padding: 10px 16px 0 16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 32px;
    padding-bottom: 0; } }
.tx-md-contentelements .audiopodcast .header {
  display: flex;
  justify-content: space-between; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .header {
    width: 50%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 32px;
    padding-right: 16px; } }
.tx-md-contentelements .audiopodcast .header div h2 {
  margin-bottom: 8px;
  line-height: 1.5rem; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .header div h2 {
    line-height: 1.2em; } }
.tx-md-contentelements .audiopodcast .header div .subline {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #00505f; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .header div .subline {
    margin-bottom: 8px;
    line-height: 1.2em; } }
.tx-md-contentelements .audiopodcast .header figure {
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
  margin: 0px; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .header figure {
    width: 120px;
    height: 120px;
    margin-right: 16px; } }
.tx-md-contentelements .audiopodcast .header figure img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 6px; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .header figure img {
    margin-top: 0; } }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .content {
    width: 50%; } }
.tx-md-contentelements .audiopodcast .content .description {
  margin: 0;
  margin-bottom: 19.2px;
  padding: 0; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .content .description {
    margin-bottom: 32px; } }
.tx-md-contentelements .audiopodcast .content .links {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  margin: 0 -16px;
  background-color: #0ea5df;
  padding: 12px 24px 8px 24px; }
@media (min-width: 768px) {
  .tx-md-contentelements .audiopodcast .content .links {
    margin-left: 0;
    margin-right: -32px; } }
.tx-md-contentelements .audiopodcast .content .links a {
  text-align: center;
  color: #ffffff;
  font-size: 10px; }
  .tx-md-contentelements .audiopodcast .content .links a i {
    font-size: 23px; }
.tx-md-contentelements .topic-container {
  background-color: #ffffff;
  margin-left: -16px;
  margin-right: -16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .topic-container {
    display: flex;
    margin-left: 0;
    margin-right: 0; } }
.tx-md-contentelements .topic-container .header {
  display: flex;
  align-items: center;
  padding: 16px;
  padding-left: 20px; }
@media (min-width: 768px) {
  .tx-md-contentelements .topic-container .header {
    width: 50%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 36px;
    padding-right: 16px; } }
.tx-md-contentelements .topic-container .header div {
  width: min-content;
  padding-right: 12px; }
@media (min-width: 576px) {
  .tx-md-contentelements .topic-container .header div {
    padding-right: 20px; } }
@media (min-width: 768px) {
  .tx-md-contentelements .topic-container .header div {
    padding-right: 20px; } }
@media (min-width: 992px) {
  .tx-md-contentelements .topic-container .header div {
    padding-right: 20px; } }
@media (min-width: 1200px) {
  .tx-md-contentelements .topic-container .header div {
    padding-right: 24px; } }
.tx-md-contentelements .topic-container .header div h3 {
  display: inline;
  color: #ffffff;
  background-color: #000000;
  text-transform: uppercase;
  box-shadow: 4px 0 0 #000000, -4px 0 0 #000000;
  box-decoration-break: clone;
  line-height: 1; }
@media (min-width: 576px) {
  .tx-md-contentelements .topic-container .header div h3 {
    font-size: 26px; } }
@media (min-width: 768px) {
  .tx-md-contentelements .topic-container .header div h3 {
    box-shadow: 8px 0 0 #000000, -8px 0 0 #000000;
    font-size: 26px; } }
@media (min-width: 1200px) {
  .tx-md-contentelements .topic-container .header div h3 {
    box-shadow: 8px 0 0 #000000, -8px 0 0 #000000;
    font-size: 39px; } }
.tx-md-contentelements .topic-container .header figure {
  width: 100%;
  display: flex;
  margin: 0; }
  .tx-md-contentelements .topic-container .header figure img {
    height: 45px;
    align-items: center; }
  @media (min-width: 576px) {
    .tx-md-contentelements .topic-container .header figure img {
      height: 65px; } }
@media (min-width: 768px) {
  .tx-md-contentelements .topic-container .header figure img {
    height: 65px; } }
@media (min-width: 1200px) {
  .tx-md-contentelements .topic-container .header figure img {
    height: 95px; } }
.tx-md-contentelements .topic-container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .topic-container .content {
    width: 50%;
    padding-left: 0;
    padding-top: 32px;
    padding-right: 32px; } }
.tx-md-contentelements .topic-container .content .description {
  margin: 0;
  margin-bottom: 19.2px;
  padding: 0; }
  .tx-md-contentelements .topic-container .content .description p {
    margin-top: 0; }
.tx-md-contentelements .topic-container .content .button {
  margin-right: -16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .topic-container .content .button {
    margin-right: -32px; } }
.tx-md-contentelements .fragenliste p {
  border-bottom: 1px solid black;
  padding-bottom: 16px; }
  .tx-md-contentelements .fragenliste p:last-child {
    border-bottom: 0; }
.tx-md-contentelements .person-container {
  background-color: #ffffff;
  margin-left: -16px;
  margin-right: -16px;
  padding: 10px 16px 0 16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 32px;
    padding-bottom: 0; } }
.tx-md-contentelements .person-container .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container .header {
    width: 50%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 0;
    align-items: center;
    padding-bottom: 32px;
    padding-right: 16px; } }
.tx-md-contentelements .person-container .header div h2 {
  margin-bottom: 8px;
  line-height: 1.5rem; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container .header div h2 {
    line-height: 1.2em; } }
.tx-md-contentelements .person-container .header div .subline {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #00505f; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container .header div .subline {
    margin-bottom: 8px;
    line-height: 1.2em; } }
.tx-md-contentelements .person-container .header figure {
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
  margin: 0px; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container .header figure {
    width: 120px;
    height: 120px;
    margin-right: 16px; } }
.tx-md-contentelements .person-container .header figure img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 6px; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container .header figure img {
    margin-top: 0; } }
.tx-md-contentelements .person-container .content {
  display: flex;
  flex-direction: column; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container .content {
    width: 50%; } }
.tx-md-contentelements .person-container .content .description {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 19.2px;
  padding: 0; }
@media (min-width: 768px) {
  .tx-md-contentelements .person-container .content .description {
    margin-bottom: 32px; } }
.tx-md-contentelements .person-container .content .description p {
  margin: 0; }
.tx-md-contentelements .person-container .content .links {
  display: flex;
  justify-content: space-around;
  height: 39px;
  margin: 0 -16px;
  background-color: #0ea5df;
  font-size: 23px;
  padding: 8px 4px; }
  .tx-md-contentelements .person-container .content .links img {
    height: 21px;
    width: auto; }
  .tx-md-contentelements .person-container .content .links a {
    color: #ffffff; }
  @media (min-width: 768px) {
    .tx-md-contentelements .person-container .content .links {
      margin-left: 0;
      margin-right: -32px; } }
.tx-md-contentelements .zitat {
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff; }
@media (min-width: 768px) {
  .tx-md-contentelements .zitat {
    padding: 40px; } }
.tx-md-contentelements .zitat q {
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px; }
@media (min-width: 768px) {
  .tx-md-contentelements .zitat q {
    padding: 0 150px;
    font-size: 26px;
    line-height: 1.2em; } }
.tx-md-contentelements .zitat q::before, .tx-md-contentelements .zitat q::after {
  content: ''; }
.tx-md-contentelements .zitat .topQuote, .tx-md-contentelements .zitat .bottomQuote {
  fill: #ffe600;
  position: absolute; }
@media (min-width: 768px) {
  .tx-md-contentelements .zitat .topQuote, .tx-md-contentelements .zitat .bottomQuote {
    height: 120px;
    width: auto; } }
.tx-md-contentelements .zitat .topQuote {
  top: -13px;
  right: 5px; }
@media (min-width: 768px) {
  .tx-md-contentelements .zitat .topQuote {
    top: -33.6px; } }
.tx-md-contentelements .zitat .bottomQuote {
  bottom: -13px;
  left: 5px; }
@media (min-width: 768px) {
  .tx-md-contentelements .zitat .bottomQuote {
    bottom: -33.6px; } }
.tx-md-contentelements .zitat svg {
  height: 40px; }
.tx-md-contentelements .zitat.black-on-white {
  background-color: #ffffff;
  color: #000000; }
.tx-md-contentelements .zitat.white-on-black {
  background-color: #000000;
  color: #ffffff; }
.tx-md-contentelements .unternehmen-container {
  background-color: #ffffff;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px 16px 0 16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .unternehmen-container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 32px;
    padding-bottom: 0; } }
.tx-md-contentelements .unternehmen-container figure {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px; }
@media (min-width: 768px) {
  .tx-md-contentelements .unternehmen-container figure {
    width: 50%;
    padding-right: 32px;
    padding-bottom: 32px; } }
.tx-md-contentelements .unternehmen-container figure img {
  width: 100%;
  height: auto; }
@media (min-width: 768px) {
  .tx-md-contentelements .unternehmen-container figure img {
    width: 80%; } }
.tx-md-contentelements .unternehmen-container .content {
  display: flex;
  flex-direction: column; }
@media (min-width: 768px) {
  .tx-md-contentelements .unternehmen-container .content {
    width: 50%; } }
.tx-md-contentelements .unternehmen-container .content h2 {
  margin-bottom: 8px; }
.tx-md-contentelements .unternehmen-container .content .description {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 19.2px;
  padding: 0; }
@media (min-width: 768px) {
  .tx-md-contentelements .unternehmen-container .content .description {
    margin-bottom: 32px; } }
.tx-md-contentelements .unternehmen-container .content .description p {
  margin: 0; }
.tx-md-contentelements .unternehmen-container .content .links {
  display: flex;
  justify-content: space-around;
  height: 39px;
  margin: 0 -16px;
  background-color: #0ea5df;
  font-size: 23px;
  padding: 8px 4px; }
  .tx-md-contentelements .unternehmen-container .content .links img {
    height: 21px;
    width: auto; }
  .tx-md-contentelements .unternehmen-container .content .links a {
    color: #ffffff; }
  @media (min-width: 768px) {
    .tx-md-contentelements .unternehmen-container .content .links {
      margin-left: 0;
      margin-right: -32px;
      margin-top: auto; } }
